# See https://help.github.com/articles/ignoring-files/ for more about ignoring files.

HELP.md
.gradle
build/
!gradle/wrapper/gradle-wrapper.jar
!**/src/main/**/build/
!**/src/test/**/build/
*-local.*

# dependencies
src/front/node_modules
src/front/.pnp
src/front/.pnp.js
src/front/.yarn/install-state.gz

# testing
src/front/coverage

# next.js
src/front/.next/
src/front/out/

# production
src/front/build

# misc
.DS_Store
*.pem

### IntelliJ IDEA ###
.idea
*.iws
*.iml
*.ipr
out/
!**/src/main/**/out/
!**/src/test/**/out/

# debug
npm-debug.log*
yarn-debug.log*
yarn-error.log*

# local env files
.env*.local

# vercel
src/front/.vercel

# typescript
src/front/*.tsbuildinfo
src/front/next-env.d.ts

### VS Code ###
src/front/.vscode/